/* reset css */
*{
    margin : 0px;
    padding: 0px;
}
/* variable */
:root{
    --navbar-height : 59px;
}
/* navigation bar */
#navbar{
    display:flex;
    align-items: center;
}
/* navigation bar : logo and image */
#logo{
    margin: 10px 34px;

}
#logo img{
    margin: 3px 6px;
    height: 59px;
}
/* navbar list :styling  */
#navbar{
    position:relative;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    height:100%;
    width:100%;
    z-index :-1;
    opacity:0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
} 
#navbar ul li a{
    color: white;
    display: block;
    padding:3px 22px;
    border-radius:20px;
    text-decoration:none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home section */
#home{
    display: flex;
    flex-direction:column;
    padding:3px 200px;
    justify-content:center;
    align-items: center;
    height: 400px;
}
#home::before{
    content: "";
    background:url("../img/bg1.jpg") no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
    z-index :-1;
    opacity:0.8;
}
#home h1{
    font-size: 1.8rem;
    color:white;
    text-align: center;
}
/* utility clasess */
.h-primary{

    font-size:3.8rem;
    padding:12px;
}
.btn{
    padding: 9px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size:1.5;
    border-radius: 11px;
    cursor:pointer;
}